*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center; /*горизонт*/
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  align-items: center;
  align-items: flex-end; /*прижимает к низу*/
  justify-content: flex-start; /*в строку слева*/
  width: 1140px;
  gap: 30px;
}

.search-form {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 15px;
  position: relative; /*Спозиционируйте эти элементы относительно. Тогда абсолютно спозиционированные прелоадеры встанут в них. описание из задания*/
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 8px;
  line-height: 1;
}

.search-form__fieldset:nth-child(2) {
  margin-bottom: 5px;
}

.search-form__label {
  font-family: 'Fira Sans Condensed', 'Arial Narrow', Arial, sans-serif ;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  padding: 2px;
}

.search-form__label-text {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  width: 225px;
  height: 28px;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: transparent; /*прозрачный фон*/
  font-family: 'Fira Sans Condensed', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  line-height: 1;
  padding-left: 0;
  appearance: none;
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none; /*на всякий случай уберу в фокусе*/
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: ""; /*без него не будет отображаться*/
  display: block;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
  background-color: #fff;
}

/* подчеркивание только лейбла с чекбоксами */
.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;
  text-underline-offset: 2.5px;
  text-decoration-thickness: 0.5px;
}

/*убираю подчеркивание лейблов с текстовыми полями*/
.search-form__label:has(.search-form__textfield):hover {
  text-decoration: none;
}

.button {
  border: 1px solid white;
  font-family: 'Fira Sans Condensed', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: auto;
  color: #fff;
  background-color: transparent;
  min-height: 34px;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
  flex-shrink: 0; /*не сжиматься*/
  margin-top: auto; /*к низу*/
  }

.button:hover {
  text-decoration: underline;
  text-underline-offset: 2.5px;
  text-decoration-thickness: 0.5px;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px; /*расстояние от контура*/
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  font-family: 'Oswald', 'Arial Narrow', 'Franklin Gothic Medium', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.content__accent {
  color: #545050;
}

.dash {
  position: relative;
  top: -4px; /*war with dash*/
  left: 1px;
  color: #545050;
}

.content__list-container {
  display: flex;
  width: 100%;
  height: 300px;
  overflow: auto;
  flex-direction: column;
  gap: 30px; /* this gap for 'button search'/ margin-buttom*/
  position: relative; /*Спозиционируйте эти элементы относительно. Тогда абсолютно спозиционированные прелоадеры встанут в них. описание из задания*/
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  text-decoration: none;
  display: block;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
  text-decoration-thickness: 0.5px;
  text-decoration-color: #fff;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  padding: 0px 3px 0px 3px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: flex-start; /*прижимает элементы*/
}

.content__video-card-description-container {
  flex: 1;
  min-width: 0;
  max-width: 100%;
  overflow: hidden;
  justify-content: space-between;
}

.content__video-card-title {
  max-width: 195px;
  font-family: 'Oswald', 'Arial Narrow', 'Franklin Gothic Medium', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  white-space: nowrap; /*не переносить*/
  overflow: hidden; /*скрыть выходящий текст*/
  text-overflow: ellipsis; /*многоточие*/
  padding-left: 2px;
  line-height: 1;
  padding-bottom: 5px;
  padding-top: 2px;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  font-family: 'Fira Sans Condensed', 'Arial Narrow', Arial, sans-serif;
  color: #fff;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-left: 2px;
}

.content__video-card-thumbnail {
  width: 195px;
  min-width: 195px;
  height: 103px;
  object-fit: cover; /*заполнение контейнера*/
  object-position: center; /*центрирование изображения*/
}
